.review {
    padding: 60px 0;
    background: url('../img/review/bg.png') center / cover no-repeat;
    // .review__videos

    &__videos {
    }

    // .review__stories

    &__stories {
    }
}


.videos {
    padding: 60px 0;
    margin: 0 0 60px 0;

    // .videos__title

    &__title {
        display: flex;
        align-items: center;
        font-family: 'Tupo Vyaz';
        font-style: normal;
        font-weight: 700;
        font-size: 44px;
        line-height: 100%;
        letter-spacing: 0.14em;
        text-transform: uppercase;
        background: linear-gradient(317.59deg, #EA862E 23.87%, #FFB573 76.13%), #FFFFFF;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        margin: 0 0 40px 0;
            span {
                margin: 18px 0 0 10px;
            }
    }

    // .videos__inner

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    // .videos__big

    &__big {
        flex: 0 1 64%;
    }

    // .videos__big-media

    &__big-media {
        margin: 0 0 30px 0;
    }

    // .videos__big-texbox

    &__big-texbox {

    }

    // .videos__big-title

    &__big-title {
        font-family: 'Tupo Vyaz';
        font-style: normal;
        font-weight: 700;
        font-size: 44px;
        line-height: 100%;
        letter-spacing: 0.14em;
        text-transform: uppercase;
        color: #FFFFFF;
        width: 80%;
        margin: 0 0 20px 0;
    }

    // .videos__big-text

    &__big-text {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.08em;
        color: #A6A6A6;
        margin: 0 0 20px 0;
    }

    // .videos__big-bottom

    &__big-bottom {
        display: flex;
        align-items: center;
    }

    // .videos__big-date

    &__big-date {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: #595959;
        position: relative;
        padding: 0 30px 0 0;
            &::after {
                content: "•";
                position: absolute;
                top: 0;
                right: 0;
                font-family: 'Playfair Display';
            }
    }

    // .videos__big-label

    &__big-label {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.08em;
        color: #595959;
        margin: 0 0 0 22px;
    }

    // .videos__list

    &__list {
        flex: 0 1 34%;
    }
}



.videos-list {
    height: 500px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        width: 25px;
    }
    
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    
    &::-webkit-scrollbar-thumb {
        background: url('../img/global/scroll.png') top / contain no-repeat;
        border-radius: 8px;
    }

    // .videos-list__item

    &__item {
        display: flex;
    }

    // .videos-list__item-media

    &__item-media {
        margin: 0 20px 0 0;
    }

    // .videos-list__item-textbox

    &__item-textbox {
        display: flex;
        flex-direction: column;
    }

    // .videos-list__item-title

    &__item-title {
        font-family: 'Tupo Vyaz';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        letter-spacing: 0.18em;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    // .videos-list__item-date

    &__item-date {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: #595959;
    }
}

.stories {
    padding: 20px 0;
    display: flex;
    flex-direction: column;

    // .stories__title

    &__title {
        display: flex;
        align-items: center;
        font-family: 'Tupo Vyaz';
        font-style: normal;
        font-weight: 700;
        font-size: 44px;
        line-height: 100%;
        letter-spacing: 0.14em;
        text-transform: uppercase;
        background: linear-gradient(317.59deg, #EA862E 23.87%, #FFB573 76.13%), #FFFFFF;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        margin: 0 0 40px 0;
            span {
                margin: 18px 0 0 10px;
            }
    }

    // .stories__big

    &__big {
        position: relative;
        margin: 0 0 40px 0;
        img {
            width: 100%;
        }
    }

    // .stories__big-texbox

    &__big-textbox {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    // .stories__big-text

    &__big-text {
        display: none;
    }

    // .stories__big-left

    &__big-left {
    }

    // .stories__big-title

    &__big-title {
        font-family: 'Tupo Vyaz';
        font-style: normal;
        font-weight: 700;
        font-size: 44px;
        line-height: 100%;
        letter-spacing: 0.14em;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    // .stories__big-text

    &__big-desc {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.08em;
        color: #A6A6A6;
    }

    // .stories__big-new

    &__big-new {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 28px;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        background: linear-gradient(317.59deg, #EA862E 23.87%, #FFB573 76.13%), #595959;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    // .stories__list

    &__list {
        display: flex;
        flex-direction: column;
    }

    // .stories__more

    &__more {
        align-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: none;
        font-family: 'Tupo Vyaz';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.18em;
        background: linear-gradient(317.59deg, #EA862E 23.87%, #FFB573 76.13%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        position: relative;
            &::before {
                content: '';
                position: absolute;
                width: 100%;
                transition: box-shadow 0.3s;
                top: 10px;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            &:hover {
                &::before {
                    box-shadow: 0px 0px 25px 10px rgba(253,179,114,0.51);
                }
                img {
                    transform: translateY(10px);
                }
            }
            img {
                transition: transform 0.3s;
            }
            &.hidden {
                display: none;
            }  
    }

    // .stories__note

    &__note {
        margin: 60px 0 0 0;
        display: none;
        font-family: 'Tupo Vyaz';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.18em;
        color: #595959;
        align-self: center;
            &.visible {
                display: block;
            }
    }
}

.stories-list {

    // .stories-list__item

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 0 20px 0;
    }

    // .stories-list__item-media

    &__item-media {
        flex: 0 1 40%;
        margin: 0 20px 0 0;
    }

    // .stories-list__item-textbox

    &__item-textbox {
        display: flex;
        flex-direction: column;
        flex: 0 1 60%;
    }

    // .stories-list__item-title

    &__item-title {
        font-family: 'Tupo Vyaz';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 36px;
        letter-spacing: 0.14em;
        text-transform: uppercase;
        color: #FFFFFF;
        width: 80%;
        margin: 0 0 10px 0;
    }

    // .stories-list__item-text

    &__item-desc {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.08em;
        color: #A6A6A6;
        width: 80%;
        margin: 0 0 10px 0;
    }

    // .stories-list__item-text

    &__item-text {
        display: none;
    }

    // .stories-list__item-bottom

    &__item-bottom {
        display: flex;
    }

    // .stories-list__item-date

    &__item-date {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: #595959;
        position: relative;
        padding: 0 30px 0 0;
            &::after {
                content: "•";
                position: absolute;
                top: 0;
                right: 0;
                font-family: 'Playfair Display';
            }
    }

    // .stories-list__item-label

    &__item-label {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.08em;
        color: #595959;
        margin: 0 0 0 22px;
    }
}

.stories-list-hidden {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.3s;
        &.visible {
            opacity: 1;
            overflow: visible;
            height: auto;
            display: flex;
            flex-direction: column;
        }
}

.orange-gradient {
    background: linear-gradient(317.59deg, #EA862E 23.87%, #FFB573 76.13%), #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}